{% extends "admin/panel/_base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% from "_macros.html" import render_checkbox,render_formgroup, warn_message %}
{% set active_page='contactform' %}
{% block sub_page %}
    <h2>Kontaktformular Einstellungen</h2>
    <form class="form" role="form" method="post" action="">
        {{ form.hidden_tag() }}
        {{ warn_message(form) }}
        {{ render_checkbox(form.imei_required) }}
        {{ render_checkbox(form.first_name_required) }}
        {{ render_checkbox(form.last_name_required) }}
        {{ render_checkbox(form.mail_required) }}
        {{ render_checkbox(form.phone_required) }}
        <br>
        <br>
        {{ render_formgroup(form.phone_number) }}
        {{ render_formgroup(form.mail) }}
        {{ render_formgroup(form.privacy_statement) }}
        <br>
        <button class="btn btn-success" type="submit">Speichern</button>
    </form>
{% endblock %}
