{% extends "admin/panel/_base.html" %}
{% from "_macros.html" import pagination_widget %}
{% set active_page='dashboard' %}
{% block sub_page %}
    <h2>Anfragen</h2>
    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
            <tr>
                <th>Datum</th>
                <th>Typ</th>
                <th>Kunde</th>
                <th>Email</th>
                <th>Anschrift</th>
                <th>Telefon</th>
                <th>Gerät</th>
                <th>Imei</th>
                <th>Shop</th>
                <th>Reparatur(en)</th>
                <th>Rabatt</th>
                <th>Abschließen</th>
            </tr>
            </thead>
            <tbody>
            {% for enquiry in pagination.items %}
                <tr>
                    <td>{{ enquiry.timestamp.strftime('%d.%m.%Y') }}</td>
                    <td>{{ enquiry.name }}</td>
                    <td>{{ enquiry.customer_first_name }} {{ enquiry.customer_last_name }}</td>
                    <td>{{ enquiry.customer_email }}</td>
                    <td>{{ enquiry.address }}</td>
                    <td>{{ enquiry.customer_phone }}</td>
                    <td>{{ enquiry.device.name }}({{ enquiry.color }})</td>
                    <td>{{ enquiry.imei }}</td>
                    <td>{{ enquiry.shop or '---' }}</td>
                    <td>{% for r in enquiry.repairs %}{{ r.name }}{% if not loop.last %},{% endif %}{% endfor %}</td>
                    <td>{{ enquiry.sale }}&euro;</td>
                    <td class="text-right">{% if not enquiry.done %}
                        <button class="btn btn-success confirmBtn" data-id="{{ enquiry.id }}">&#10003;</button>{% endif %}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="text-center">
        {% if pagination %}
            {{ pagination_widget(pagination, '.dashboard') }}
        {% endif %}
    </div>
{% endblock %}

{% block js %}
    <script>
        $(".confirmBtn").click(function () {
            $.post("/admin/enquiry/" + $(this).data('id') + "/complete", function () {
                location.reload();
            })
        });
    </script>
{% endblock %}