{% extends "admin/panel/_base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% from "_macros.html" import render_checkbox, render_formgroup, warn_message %}
{% set active_page='mail' %}
{% block sub_page %}
    <h2>Mail Einstellungen</h2>
    <form class="form" role="form" method="post" action="">
        {{ form.hidden_tag() }}
        {{ warn_message(form) }}
        {{ render_checkbox(form.mail_use_tls) }}
        {{ render_formgroup(form.order_copy_mail_address) }}
        {{ render_formgroup(form.mail_server) }}
        {{ render_formgroup(form.mail_port) }}
        {{ render_formgroup(form.mail_username) }}
        {{ render_formgroup(form.mail_default_sender) }}
        {{ render_formgroup(form.mail_password) }}
        <br>
        <button class="btn btn-success col-4" type="submit">Speichern</button>
    </form>
    <br>
    <button class="btn btn-primary col-4" id="mailTestBtn">Sende Test Mail</button>
{% endblock %}

{% block js %}
    <script src="{{ url_for('static', filename='mailsettings.js') }}?v=1.0.1" type="text/javascript"></script>
{% endblock %}