{% extends "admin/panel/_base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% from "_macros.html" import render_checkbox, render_formgroup, warn_message %}
{% set active_page='mail' %}
{% block sub_page %}
    <h2>Mail Einstellungen</h2>
    <form class="form" role="form" method="post" action="">
        {{ form.hidden_tag() }}
        {{ warn_message(form) }}
        {{ render_formgroup(form.mail_encryption) }}
        {{ render_formgroup(form.order_copy_mail_address) }}
        {{ render_formgroup(form.mail_server) }}
        {{ render_formgroup(form.mail_port) }}
        {{ render_formgroup(form.mail_username) }}
        {{ render_formgroup(form.mail_default_sender) }}
        {{ render_formgroup(form.mail_password) }}
        <br>
        <button class="btn btn-success col-4" type="submit">Speichern</button>
    </form>
    <br>
    <hr>
    <br>
    <div class="" id="testMailForm">
        <form class="form" role="form" id="mailTestForm">
            {{ email_test_form.hidden_tag() }}
            {{ warn_message(email_test_form) }}
            {{ render_formgroup(email_test_form.recipient) }}
            <br>
            <button class="btn btn-primary col-4" type="submit">Test Mail senden</button>
        </form>
    </div>
{% endblock %}

{% block js %}
    <script>
        $(document).ready(function () {
            var form = $('#mailTestForm');
            var url = '{{ url_for('admin.send_test_mail') }}';
            form.submit(function (event) {
                event.preventDefault();
                $.post(url, $(this).serialize(), function (data) {
                    if (data.status === "success") {
                        location.reload();
                    } else {
                        form.html(data); // render response
                    }
                });
            });
        });
    </script>
{% endblock %}