{% extends "admin/panel/_base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% from "_macros.html" import  render_formgroup, warn_message %}
{% set active_page='password' %}
{% block sub_page %}
    <h2>{{ sub_title }}</h2>
    <form class="form" role="form" method="post" action="">
        {{ form.hidden_tag() }}
        {{ warn_message(form) }}
        {{ render_formgroup(form.old_password) }}
        {{ render_formgroup(form.password) }}
        {{ render_formgroup(form.confirm) }}
        <br>
        <button class="btn btn-success col-4" type="submit">Ändern</button>
    </form>
{% endblock %}
