{% extends "admin/panel/_base.html" %}
{% set active_page='stats' %}
{% from "_macros.html" import pagination_widget %}
{% block sub_page %}
    <div class="container">
        <h2>Gesamtanfragen: {{ total }}</h2>
        <h2>Anfragen (24h): {{ total_24 }}</h2>
        <h2>Meist besucht: {{ top_page }}</h2>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Zeitstempel</th>
                <th>Status</th>
                <th>Pfad</th>
                <th>Latenz (sec)</th>
                <th>Browser</th>
                <th>Sprache</th>
                <th>Platform</th>
                <th>Version</th>
                <th>Referer</th>
                <th>Request</th>
                <th>Useragent</th>
            </tr>
            </thead>
            <tbody>
            {% for item in pagination.items %}
                <tr class="text-nowrap">
                    <td>{{ item['timestamp'] | unix2date }}</td>
                    <td>{{ item['status_code'] }}</td>
                    <td>{{ item['path'] }}</td>
                    <td>{{ item['latency'] }}</td>
                    <td>{{ item['ua_browser'] }}</td>
                    <td>{{ item['ua_language'] }}</td>
                    <td>{{ item['ua_platform'] }}</td>
                    <td>{{ item['ua_version'] }}</td>
                    <td>{{ item['referer'] }}</td>
                    <td>{{ item['request'] }}</td>
                    <td>{{ item['user_agent'] }}</td>

                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% if pagination %}
            {{ pagination_widget(pagination, '.stats') }}
        {% endif %}
    </div>
{% endblock %}