<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="utf-8">
    <title>Preiskalkulator{% block title %}{% endblock %}</title>
    <!-- meta -->
    <meta name="description" content="Smartphoniker - Preisübersicht und Reparaturangebot">
    <meta name="author" content="Leon Morten Richter">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <!-- styles -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="{{ url_for('static', filename='main.css') }}?v=1.0.9" rel="stylesheet" media="screen">
    <link href="{{ url_for('static', filename='wof.css') }}?v=1.0.9" rel="stylesheet" media="screen">
    <link href="{{ url_for('static', filename='devices.min.css') }}?v=1.0.0" rel="stylesheet" media="screen">
    {# for various custom styles #}
    {% block css %}
    {% endblock %}
    {# for various extra things #}
    {% block head_extra %}
    {% endblock %}
</head>

<body>

{% include 'header.html' %}

<div class="site-content">
    <div class="container" id="main">
        <!-- messages -->
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <br>
                <div class="row">
                    <div class="col-md-12">
                        {% for category, message in messages %}
                            <div class="alert alert-{{ category }}">
                                <a class="close" title="Close" href="#" data-dismiss="alert">&times;</a>
                                {{ message }}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
        {% endwith %}

        <!-- child template -->
        {% block content %}{% endblock %}

        <br>

        <!-- errors -->
        {% if error %}
            <p class="error"><strong>Error:</strong> {{ error }}</p>
        {% endif %}

    </div>
</div>

{% include 'footer.html' %}
{% include 'wof.html' %}

<!-- scripts -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script src="{{ url_for('static', filename='main.js') }}?v=1.0.3" type="text/javascript" nonce="{{ csp_nonce() }}"></script>
<script src="{{ url_for('static', filename='wof.js') }}?v=1.0.1" type="text/javascript" nonce="{{ csp_nonce() }}"></script>
{% block js %}{% endblock %}

</body>
</html>