<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="utf-8">
    <title>{{ config.APP_NAME }}{% block title %}{% endblock %}</title>
    <!-- meta -->
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <!-- styles -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="{{ url_for('static', filename='main.css') }}" rel="stylesheet" media="screen">
    <link href="{{ url_for('static', filename='devices.min.css') }}" rel="stylesheet" media="screen">
    {% block css %}{% endblock %}
</head>

<body>

{% include 'header.html' %}

<div class="site-content">
    <div class="container">
        <!-- messages -->
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <br>
                <div class="row">
                    <div class="col-md-12">
                        {% for category, message in messages %}
                            <div class="alert alert-{{ category }}">
                                <a class="close" title="Close" href="#" data-dismiss="alert">&times;</a>
                                {{ message }}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
        {% endwith %}

        <!-- child template -->
        {% block content %}{% endblock %}

        <br>

        <!-- errors -->
        {% if error %}
            <p class="error"><strong>Error:</strong> {{ error }}</p>
        {% endif %}

    </div>
</div>

{% include 'footer.html' %}

<!-- scripts -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='main.js') }}" type="text/javascript"></script>
{% block js %}{% endblock %}

</body>
</html>