<!-- Render field errors -->
{% macro render_errors(field) %}
    {% if field.errors|length > 0 %}
        {% for error in field.errors %}
            <div class="invalid-feedback">
                {{ error }}
            </div>
        {% endfor %}
    {% endif %}
{% endmacro %}

<!-- Display a warning if an error occurs -->
{% macro warn_message(form) %}
    {% if form.errors.items()|length > 0 %}
        <div class="alert alert-danger">
            <b>Achtung:</b> Ungültige Daten!
        </div>
    {% endif %}
{% endmacro %}

<!-- Render a WTForm field and display occurring errors -->
{% macro render_field(field) %}
    {{ field.label }}
    {{ field(class="form-control is-invalid" if field.errors else "form-control", **kwargs) | safe }}
    {% if field.description %}
        <small id="{{ field.label|string + "help" }}" class="form-text text-muted">{{ field.description }}</small>
    {% endif %}
    {{ render_errors(field) }}
{% endmacro %}

<!-- Render a WTForm field as an individual form-group -->
{% macro render_formgroup(field) %}
    <div class={{ "form-group required" if field.required else "form-group" }}>
        {{ render_field(field, **kwargs) }}
    </div>
{% endmacro %}

{% macro render_select_multiple(field) %}
    <div class={{ "form-group required" if field.required else "form-group" }}>
        {{ field.label }}
        {{ field(class="form-check") }}
        {% if field.description %}
            <small id="{{ field.label|string + "help" }}" class="form-text text-muted">{{ field.description }}</small>
        {% endif %}
        <small><a href="{{ url_for('admin.add_color', next=request.full_path) }}">
            Farbe nicht dabei?
        </a></small>
    </div>
{% endmacro %}

{% macro render_manufacturer(manufacturer) %}
    <div class="col-sm-4 py-2 text-center">
        <div class="card h-100"
             onclick="location.href=('{{ url_for("main.select_device", manufacturer_id=manufacturer.id) }}')">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">{{ manufacturer.name }}</h4>
            </div>
            <div class="card-body">
                {% include manufacturer.picture_file %}
            </div>
            {% if current_user.is_authenticated %}
                <a class="btn btn-primary btn-block editBtn"
                   href="{{ url_for('admin.edit_manufacturer',manufacturer_id=manufacturer.id) }}">edit</a>
            {% endif %}
        </div>
    </div>
{% endmacro %}

{% macro render_device(device) %}
    <div class="col-sm-4 py-2 text-center">
        <div class="card h-100" onclick="location.href=('{{ url_for("main.select_repair", device_id=device.id) }}')">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">{{ device.name }}</h4>
            </div>
            <div class="card-body">
                {% include device.picture_file %}
            </div>
            {% if current_user.is_authenticated %}
                <a class="btn btn-primary btn-block editBtn"
                   href="{{ url_for('admin.edit_device',device_id=device.id) }}">edit</a>
            {% endif %}
        </div>
    </div>
{% endmacro %}


{% macro render_repair(repair) %}
    <div class="col-sm-4 py-2 text-center">
        <div class="card selectable h-100" data-id="{{ repair.id }}">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">{{ repair.name }}</h4>
            </div>
            <div class="card-body">
                ab {{ repair.price }}&euro;
            </div>
            {% if current_user.is_authenticated %}
                <a class="btn btn-primary btn-block editBtn"
                   href="{{ url_for('admin.edit_repair',repair_id=repair.id) }}">edit</a>
            {% endif %}
        </div>
    </div>
{% endmacro %}



{% macro render_stepper(step=1) %}

    <!--Slightly modified and simplified from https://codepen.io/thdeux/pen/zBGNrM-->
    <div class="md-stepper-horizontal orange">
        <div class="md-step active">
            <div class="md-step-circle"><span>1</span></div>
            <div class="md-step-title">Gerät wählen</div>
            <div class="md-step-bar-left"></div>
            <div class="md-step-bar-right"></div>
        </div>
        <div class="md-step {{ 'active' if step-1>0 }}">
            <div class="md-step-circle"><span>2</span></div>
            <div class="md-step-title">Defekt(e) wählen</div>
            <div class="md-step-bar-left"></div>
            <div class="md-step-bar-right"></div>
        </div>
        <div class="md-step {{ 'active' if step-2>0 }}">
            <div class="md-step-circle"><span>3</span></div>
            <div class="md-step-title">Auftrag prüfen</div>
            <div class="md-step-bar-left"></div>
            <div class="md-step-bar-right"></div>
        </div>
        <div class="md-step {{ 'active' if step-3>0 }}">
            <div class="md-step-circle"><span>4</span></div>
            <div class="md-step-title">Auftrag abschließen</div>
            <div class="md-step-bar-left"></div>
            <div class="md-step-bar-right"></div>
        </div>
    </div>

{% endmacro %}