<footer class="footer">
    <hr>
    <div class="row text-center">
        <div class="col-sm">
            <p class="text-sm-left">&copy; 2019 <a href="http://www.leonmortenrichter.de">Leon
                Morten Richter</a></p>
        </div>
        <div class="col-sm">
            <p class="text-sm-right">
                <a href="https://www.smartphoniker.de/datenschutz/">Datenschutz</a>&middot;
                <a href="https://www.smartphoniker.de/agb/">AGB</a>&middot;
                <a href="https://www.smartphoniker.de/impressum/">Impressum</a>
            </p>
        </div>
    </div>
</footer>