<!-- Modal -->
<div
        class="modal left fade gewinne-modal"
        id="wofModal"
        tabindex="-1"
        role="dialog"
        aria-hidden="true"
>
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h1><span id="bonusTitle">Smartphoniker Gewinnspiel</span> - sichere dir bis zu 10 Euro Rabatt auf deine
                    Reparatur.</h1>
                <div class="grid-wrapper">
                    <div class="container-nobs chart-wrapper">
                        <div id="chart"></div>
                    </div>
                    <div class="container-nobs">
                        <p>
                            Nutze deine Chance auf fette Rabatte.
                            <small class="form-text text-muted">*Du kannst das Rad nur einmal drehen.</small>
                            <small class="form-text text-muted">*Rabattcodes sind nicht kombinierbar.</small>
                        </p>
                        <form id="mailForm">
                            <div class="form-group">
                                <label for="email" hidden>Email</label>
                                <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" placeholder="Deine Email">
                                <div class="invalid-feedback">
                                    Email ungültig oder bereits genutzt!
                                </div>
                            </div>
                            <div class="form-check" id="termsAndConditionsCheckBox">
                                <input type="checkbox" required class="form-check-input" id="termsAndConditions" aria-describedby="acceptTermsAndConditions" checked>
                                <label class="form-check-label" for="termsAndConditions" id="termsAndConditionsLabel">Ich möchte den Newsletter abbonieren, stimme den
                                    <a href="https://www.smartphoniker.de/agb/" target="_blank">AGB's</a> zu und habe die
                                    <a href="https://www.smartphoniker.de/datenschutz/" target="_blank">Datenschutzerklärung</a> gelesen.</label>
                            </div>
                            <button type="submit" class="btn btn-block btn-primary" id="spinBtn">Versuche dein Glück
                                &#9994;
                            </button>
                        </form>
                        <div id="question" class="text-center"><h1></h1></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>