{% extends '_base.html' %}
{% import "bootstrap/wtf.html" as wtf %}
{% from "_macros.html" import render_formgroup, render_select_multiple ,warn_message %}
{% block content %}
    <header class="content-header">
        <h1>Gerät hinzufügen/ anpassen</h1>
        <hr>
        <br>
    </header>

    <div class="col-lg-8 col-sm-8">
        <form action="" method="POST" role="form" class="form">
            {{ form.hidden_tag() }}
            {{ warn_message(form) }}
            {{ render_formgroup(form.name, placeholder="iPhone X") }}
            {{ render_formgroup(form.manufacturer) }}
            {{ render_formgroup(form.picture) }}
            {{ render_select_multiple(form.colors) }}
            <button class="btn btn-success btn-block" type="submit">Hinzufügen</button>
        </form>
        <br>
        <a class="btn btn-secondary" href="{{ url_for('main.select_device', manufacturer_id=manufacturer_id) }}">&laquo; Zurück</a>
    </div>

{% endblock %}