{% extends "main/_base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% from "_macros.html" import render_color with context %}

{% block sub_page %}
    <div class="container">
        <div class="row justify-content-md-center">
            {% for color in device.colors %}
                {{ render_color(color) }}
            {% endfor %}
        </div>
        <br>
        <!-- Use a hidden form, to be able to select a color and submit it via button click -->
        <form class="form" role="form" method="post" action="#" id="colorForm">
            <div class="text-center">
                {{ form.hidden_tag() }}
                {{ form.colors(hidden=True) }}
            </div>
        </form>
        <a class="btn btn-secondary" href="{{ url_for('main.select_device', manufacturer_id=device.manufacturer.id) }}">&laquo;
            Zurück</a>
    </div>
{% endblock %}

{% block js %}
    <script>
        $(document).ready(function () {
            $('.selectable').click(function () {
                $('#colors').val($(this).data('id'));
                $('#colorForm').submit();
            });

        });
    </script>
{% endblock %}