{% extends "main/_base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% from "_macros.html" import warn_message, render_formgroup %}
{% set step_count = 4 %}
{% set sub_title = "Auftragsübersicht" %}
{% block sub_page %}
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-lg-8">
                <h3 class="text-muted">Ihre Auswahl</h3>
                <hr>

                <div class="row">
                    <div class="col-6 text-left">
                        <span><strong>Modell</strong></span><br>
                        <span>{{ device.name }} {% if color %}({{ color }}){% endif %}</span>

                    </div>
                    <div class="col-6 text-right">
                        <span><strong>Schaden</strong></span><br>
                        <span>{% for repair in repairs %} {{ repair.name }} {% if loop.index!=loop.length %}, {% endif %}{% endfor %}</span>
                    </div>
                </div>
                <br>
            </div>
            <div class="col-sm-6 col-lg-4">
                <h3 class="text-muted">Preis</h3>
                <hr>
                <div class="row">
                    {% for repair in repairs %}
                        <div class="col-8 text-center"><span>{{ repair.name }}</span></div>
                        <div class="col-4 text-right"><span>{{ repair.price }}&euro;</span></div>
                    {% endfor %}
                    {% if config['ACTIVE_SALE'] %}
                        <div class="col-8 text-center"><span>Sonderrabatt</span></div>
                        <div class="col-4 text-right"><span>-{{ config['SALE_AMOUNT'] }}&euro;</span></div>
                    {% endif %}
                </div>
                <hr>
                <div class="row">
                    <div class="col-8 text-center"><span><strong>Gesamtpreis</strong></span></div>
                    <div class="col-4 text-right"><span><strong>{{ total }}&euro;</strong></span></div>
                </div>
                <div class=" col-10 offset-2 text-right">
                    <span class="text-muted">
                        <small>Alle Preise verstehen sich inklusive der Umsatzsteuer von derzeit 19&percnt;</small>
                    </span>
                </div>
            </div>
            <br>
        </div>
        <div class="col-sm-6 col-lg-8">
            <br>
            <div class="text-center">
                <button class=" btn btn-success" onclick="location.href='{{ url_for("main.complete", device_id=device.id, order=True) }}'">
                    Zahlungspflichtig bestellen
                </button>
            </div>
            <br>
        </div>
        <a class="btn btn-secondary" href="{{ url_for('main.select_repair', device_id=device.id) }}">&laquo; Zurück</a>
    </div>
{% endblock %}
