#bonusTitle {
    color: darkorange;
}

#chart svg {
    transform: translateX(-60%);
    position: absolute;
}

#question {
    padding-top: 25px;
}

#question h1 {
    font-size: 30px;
}

.gewinne-modal {
    width: 100vw;
    max-width: 100vw;
    font-weight: bold;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.grid-wrapper {
    padding-top: 20px;
    display: grid;
    grid-template-columns: 200px 1fr;
}

.modal.left .modal-dialog {
    position: fixed;
    margin: auto;
    width: 50%;
    height: 100%;
    transform: translate3d(0%, 0, 0);
}

.modal.left .modal-content {
    height: 100%;
    overflow-y: auto;
    background-color: #f0f0f0;
}

.modal.left .modal-header {
    background-color: #f0f0f0;
    height: 10px;
    border-bottom: none;
}

.modal.left .modal-body {
    padding: 15px 15px 80px;
}

.modal.left.fade .modal-dialog {
    left: -320px;
    transition: opacity 0.3s linear, left 0.3s ease-out;
}

.modal.left.fade.show .modal-dialog {
    left: 0;
}

.modal-content {
    border-radius: 0;
    border: none;
}

.modal-header {
    border-bottom-color: #eeeeee;
    background-color: #fafafa;
}

@media (max-width: 800px) {
    .modal.left .modal-dialog {
        width: 100vw;
        max-width: 100vw;
    }

    .grid-wrapper {
        display: grid;
        gap: 1rem;
        grid-template-columns: 1fr;
    }

    .chart-wrapper {
        order: 2;
    }

    #chart svg {
        transform: translateX(-45%);
    }
}
